[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "aiogram>=3.25.0",
    "aiohttp>=3.13.3",
    "flask>=3.1.2",
]
